{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Blog{% endblock %}

{% block body %}
    
    <div class="page-header"><h1>Mon Blog</h1></div>
        
        {% block MhhetierBlog_body %}{% endblock %}
    
{% endblock %}